:root {
    /* Background */
    --pal_background_colour: #b3456003;
    --pal_first_background: rgba(29, 26, 26, 0.7);
    --pal_last_background: rgba(18, 3, 27, 0.9);

    /* Main box colours */
    --pal_main_box: rgba(0, 0, 0, 0.5);
    --pal_main_shadow: rgba(0, 0, 0, 0.3);

    /* Text defaults colours.*/
    --pal_text: #000000;
    --pal_text_highlighter: #E3CD9E;
    --pal_title_text: rgba(255, 255, 255, 1);

    /* Related to menu items when hovered*/
    --pal_text_menu: #BDBBB2;
    --pal_text_menu_active: #8056e2;

    /* Navigation menu colours */
    --pal_navigation_title_name: rgba(255, 255, 255, 1);
    --pal_navigation_title_item: rgba(225, 255, 255, 1);
    --pal_navigation_title_anchor: rgba(221, 203, 203, 0.2);
    --pal_navigation_divider: rgba(185, 172, 230, 0.2);

    /* Scrollbar */
    --scroll_bar: rgb(157, 112, 167, 0.5);
    --scroll_bar_hover: rgb(172, 165, 172);

    /* Button */
    --pal_button_text: rgba(255, 255, 255, 1);
    --pal_button_colour: rgba(0, 0, 15, 0.5);
    --pal_button_border: rgba(255, 255, 255, 1);
    --pal_button_text_hover: rgba(255, 255, 255, 1);
    --pal_button_colour_hover: rgba(255, 255, 255, 0.5);
    --pal_button_border_hover: rgba(255, 255, 255, 1);
    --pal_button_events_first: rgb(153, 44, 180);
    --pal_button_events_second: rgb(32, 8, 116);


    /* Input Entry Colours - Text*/
    --pal_input_text_colour: rgb(158, 153, 180, 1);
    --pal_input_background_colour: rgba(59, 53, 92, 0.781);
    --pal_input_border_colour: rgba(149, 129, 219, 0.5);

    /* icon colour */
    --pal_icon_colour: rgb(231, 238, 234);
    --pal_icon_item_colour: rgb(231, 238, 234);
    --pal_icon_item_hover_colour: #8056e2;
    --pal_icon_arrows_colour: rgb(90, 60, 131);
    --pal_icon_feature_colour: rgba(120, 120, 120, 0.507);

    /* User dashboard items */
    --pal_image_placeholder_background: rgba(94, 91, 91, 0.089);
    --pal_image_placeholder_border: rgba(255, 255, 255, 0.5);

    /* Fancy Text */
    --pal_fancy_text_one: #91CACA;
    --pal_fancy_text_two: #7E5CDB;
    --pal_fancy_text_three: #FFFFFF;

    /* Sign up box */
    --pal_signUp_box: rgba(255,255,255,0.5);

    /* section colours */
    --pal_section_background: rgba(62, 56, 73, 0.144);
}


body {
    font-family: verdana;
    background-color: var(--pal_background_colour);
    background-image: linear-gradient(to bottom right, var(--pal_first_background), var(--pal_last_background));
    overflow: hidden;
}

input[type=text] {
    color: var(--pal_input_text_colour);
    background-color: var(--pal_input_background_colour);
    font-size: 1em;
    border-radius: 10px;
    border: 1px solid var(--pal_input_border_colour);
    margin-left: 10px;
    margin-top: 20px;
    text-align: left;
    outline: none;
    height: 30px;
    width: auto;
}

/*Navigation bar*/
.navigationBar {
    display: inline-flex;
    padding: 3px;
    float: center;    
}

.navigationBarEnd {
    display: inline-flex;
    padding: 20px;
    margin-right: 10px;
    float: right;
}

.navigationTitleName {
    color: var(--pal_navigation_title_name);
    text-align: center;
    font-size: 1.5em;
    float: left;
}

.navigationTitleItem {
    color: var(--pal_navigation_title_item);
    text-align: center;
    font-size: 1em;
    padding-left: 20px;
    padding-top: 10px;
    float: left;
}

.navigationTitleAnchor {
    color: transparent;
    text-align: center;
    font-size: 1.5em;
    padding-right: 20px;
    float: left;
    border-right: 0.2px solid var(--pal_navigation_title_anchor);
}

.navigationLogoImage {
    width: 100px;
    height: 100px;
    padding: 10px;
    margin: auto;
    border: solid 1px black;

}

.navigationLogoIcon {
    color: var(--pal_icon_colour);
    width: auto;
    height: auto;
    font-size: 2em;
    padding: 10px;
    margin: auto;
}

.navigationItemIcon {
    color: var(--pal_icon_item_colour);
    width: auto;
    height: auto;
    font-size: 2em;
    padding: 10px;
    margin: auto;
    float: left;
}


.navigationEndItem {
    color: var(--pal_icon_item_colour);
    position: absolute;
    width: auto;
    height: auto;
    font-size: 2em;
    padding: 0px;
    margin-right: 50px;
    margin-left: -10px;
    top: 25px;
}

/*links.*/
a:link {
    text-decoration: none;
    color: var(--pal_text_menu);
}

a:visited {
    text-decoration: none;
    color: var(--pal_text_menu);
}

a:hover {
    text-decoration: none;
    color: var(--pal_text_menu_active);
}

a:active {
    text-decoration: none;
    color: var(--pal_text_menu_active);
}

/*Scroll Bar.*/
::-webkit-scrollbar {
    /* width */
    width: 4px;
    height: 0px;
}

::-webkit-scrollbar-track {
    /* Track */
    background: transparent;
}

::-webkit-scrollbar-thumb {
    /* Handle */
    background: var(--scroll_bar);
    min-height: 10px;
}

::-webkit-scrollbar-thumb:hover {
    /* Handle on hover */
    background: var(--scroll_bar_hover);
}

/*Custom Div Classes.*/
.mainBox {
    display: inline-block;
    height: 92%;
    width: 96%;
    margin: 2%;
    background-color: var(--pal_main_box);
    border-radius: 30px;
    box-shadow: 0px 50px 55px 10px var(--pal_main_shadow);
    overflow: scroll;
}

.section {
    display: inline-flex;
    width: 100%;
    margin: auto;
}

.sectionSub {
    width: 100%;
}

.sectionSubHorizontal{    
    display: inline-flex;
    width: 100%;
    height: auto;
    text-align: center;
    margin: auto;
    padding:10px;
    padding-bottom:15px;
}

.search-button img {
    width: 20px;
    height: 20px;
    object-fit: cover;
}

.formSection{
    display: inline-block;
    text-align: left;
    height: auto;
    width: auto;
}

.welcomeScreenMain {
    display: flex;
    height: auto;
    width: auto;
    margin-left: 330px;
    margin-right: 330px;
    margin-top: inherit;
    align-items: center;
    justify-content: center;
}

.welcomeScreenSection {
    display: inline-block;
    background-color: rgba(0, 120, 0, 0);
    align-items: center;
    height: auto;
    width: 300px;
    padding: 10px;
    margin: auto;
}

.welcomeButton {
    display: flex;
    background-color: rgba(0, 0, 0, 0);
    height: auto;
    width: 95%;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
}

.featureScreenSection {
    display: block;
    text-align: center;
    width: 80%;
    padding:50px;
}


.upcomingEvents {
    display: inline-flex;
    width: 100%;
    height: 200px;
}

.upcomingEventsHolder {
    display: inline-flex;
    background-color: var(--pal_button_colour);
    width: 95%;
    height: 70%;
    margin: auto;
    padding: 10px;
    border: 1px solid var(--pal_button_border);
    border-radius: 10px;
}

.upcomingEventsGridItem {
    display: inline-flex;
    background-image: linear-gradient(to bottom right, var(--pal_button_events_first), var(--pal_button_events_second));
    width: 100px;
    height: 100px;
    padding: 10px;
    margin: auto;
    border: 1px solid var(--pal_button_border);
    border-radius: 10px;
    text-align: center;
    overflow: hidden;
}


.dashboardUsers {
    display: inline-flex;
    width: 100%;
    height: 100%;
}

.dashboardUserImage {
    background-color: var(--pal_image_placeholder_background);
    background-repeat: no-repeat;
    background-position: center;
    width: 100px;
    height: 100px;
    border: 1px solid var(--pal_image_placeholder_border);
    border-radius: 100%;
    margin: auto;
}

.dashboardUserImage[id=profileMain] {
    background-image: url('https://api.lorem.space/image/face?w=150;h=150');
}

.dashboardUserImage[id=profileOne] {
    background-image: url('https://api.lorem.space/image/face?w=150;h=150');
}

.dashboardUserImage[id=profileTwo] {
    background-image: url('https://api.lorem.space/image/fashion?w=150;h=150');
}

.dashboardUserImage[id=profileThree] {
    background-image: url('https://api.lorem.space/image/car?w=150;h=150');
}

.dashboardUserImage[id=profileAnimalOne] {
    background-image: url('https://place.dog/150/150');
}

.dashboardUserImage[id=profileAnimalTwo] {
    background-image: url('https://place.dog/190/150');
}



.dashboardUsersPartition {
    display: block;
    background-color: var(--pal_button_colour);
    width: 50%;
    height: 50%;
    padding: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 10px;
    border: 1px solid var(--pal_button_border);
    overflow: scroll;
}


.calendarSection {
    display: inline-flex;
    width: 100%;
    height: 100%;
}

.calendarSectionPartition {
    display: inline-block;
    background-color: var(--pal_button_colour);
    width: 100%;
    height: auto;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 10px;
    border: 1px solid var(--pal_button_border);
    text-align: center;
    overflow: scroll;
}

.calendarSectionPart {
    width: 100%;
    margin: auto;
}

.calendarButtons {
    display: inline-flex;
    text-align: center;
    width: 40%;
    margin-right: 20px;
}

.overlaySignUpBlur{
    display: none;
    background-color: rgba(10,10,10,0.6);    
    position: absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;      
    backdrop-filter: blur(5px);
}

.overlaySignUp{
    position: absolute;
    background-color:var(--pal_button_colour); 
    width:20%;
    height:35%;
    top:33%;
    bottom:33%;
    right:40%;
    left:40%;
    z-index:1;
    border: 1px solid var(--pal_button_border);
    border-radius: 20px;    
}


.overlaySectionForm{
    display: inline-block;
    height: auto;
    width: 100%;    
    text-align: center;
    align-items: center;
    justify-content: center;
}

.overlaySectionButtonLocation{
    position:absolute; 
    top:10px;
    right:10px;
}

.familySection{
    margin:auto;
    width:100%;
    text-align: center;
}

.familyGroup{
    display: inline-block;
    margin: auto;
    width: auto;
    padding: 40px;
    text-align: left;    
}

.familyGroupInner{
    margin:50px auto;
    width:auto;
    height:auto;
    background-color:rgba(179, 41, 41, 0);
    display: grid;
    grid-template-columns:50% 20%;
    grid-row: auto auto;
    grid-column-gap: 0;
    grid-row-gap: 8%;
}


.familyUserGridItem{
    font-size: 30px;
    text-align: center;
    font-size: small;
    background-color: var(--pal_button_colour);
    width: 150px;
    height: 175px;
    padding: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 10px;
    border: 1px solid var(--pal_button_border);
    overflow: scroll;
}


.card{
    display: block;
    background-color: var(--pal_button_colour);
    width: 160px;
    height: 150px;
    padding: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 10px;
    border: 1px solid var(--pal_button_border);
    overflow: scroll;
}

.cardImageCircle{
        background-color: var(--pal_image_placeholder_background);
        width: 30px;
        height: 30px;
        border: 1px solid var(--pal_image_placeholder_border);
        border-radius: 100%;
        margin: auto;   
}

.cardImageSection{
    display: inline-flex;
    width:50%;
    margin:auto;
    padding: 10px;
    float:center;    
}

.membersProfileMain{
    display: inline-flex;
    width:100%;   
    height:auto;
    text-align: center;
    
}

.membersProfileSection{
    display: inline-block;
    background-color: var(--pal_button_colour);
    border: 1px solid var(--pal_button_border);
    border-radius: 10px;
    width:430px;
    height: auto;
    padding:10px;
    margin-left:40px;
    margin-right:40px;
    
}

.membersProfileSectionImage{
    display: inline-flex;
    border-radius: 10px;
    padding:10px;        
    margin: auto;    
}

.membersProfileSectionDetails{
    display: block;    
    border: 1px solid var(--pal_button_border);
    border-radius: 10px;
    width:auto;
    height: auto;
    padding:20px;
    margin-top: 10px;    
    text-align: center;
}



.lineDivider{
    width: 100%;
    height: 1px;
    margin: auto;   
    margin-bottom: 10px;
    margin-top: -13px;
    background-color: var(--pal_navigation_divider);
}

.lineDividerSection{
    width: 90%;
    height: 1px;
    margin: auto;   
    margin-bottom: 20px;    
    background-color: var(--pal_navigation_divider);
}


/*Custom Text Elements */
.pageTitleTextWelcome {
    color: white;
    text-align: center;
    font-size: 3em;
    text-overflow: clip;
    margin: auto;
}

.pageLogoFancy {
    text-align: center;
    font-size: 3em;
    text-overflow: clip;
    margin: auto;
    background-image: linear-gradient(to right, var(--pal_fancy_text_one), var(--pal_fancy_text_two), var(--pal_fancy_text_three));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.pageTitleTextWelcomeBlurb {
    color: var(--pal_title_text);
    font-size: 1em;
    text-align: center;
    margin: 0px;
    padding: 0px;
}

.pageTitleText {
    color: var(--pal_title_text);
    font-size: 1.2em;
    margin-left: 20px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.pageTitleTextFeature {
    color: var(--pal_title_text);
    font-size: 1.2em;
    margin-left: 20px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.textEventsHeaders {
    color: var(--pal_title_text);
    font-size: 1em;
    padding: 5px;
}


.textEvents {
    color: var(--pal_title_text);
    font-size: 1em;
    text-align: center;
    margin: auto;
    padding: 5px;
}

.textScheduleCard {
    color: var(--pal_title_text);
    font-size: 0.8em;
    text-align: left;
    margin: auto;
    padding: 2px;
}

.textMemberDashboard {
    color: var(--pal_title_text);
    font-size: 0.8em;
    text-align: center;
    margin: auto;
    padding: 1px;
}

.textMemberDashboardName {
    color: var(--pal_title_text);
    font-size: 1.5em;
    text-align: center;
    margin: auto;
    padding: 5px;
}

.featureText {
    color: var(--pal_title_text);
    font-size: 1.5em;
    text-align: center;
}

.fancyText {
    text-align: center;
    font-size: 1em;  
    margin-top: -20px;      
    background-image: linear-gradient(to right, var(--pal_fancy_text_one), var(--pal_fancy_text_two), var(--pal_fancy_text_three));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.calendarNumberText {
    color: var(--pal_text_menu);
    font-size: 1em;
}

.calendarNumberTextTitle {
    color: var(--pal_text_menu);
    font-size: 1.5em;
    width: 5em;
    font-weight: bold;
    text-align: center;
}

.calendarNumberTextSubTitle {
    color: var(--pal_text_menu);
    font-size: 1em;
}

.formText {
    color: var(--pal_title_text);
    font-size: 1em;
    text-align: left;
    margin:0px;
}

.forgotText{
    color:var(--pal_text_menu);
}

.forgotText:hover{
    color:var(--pal_text_menu_active);
}




/*Custom Input Elements*/
.buttonCustom {
    color: var(--pal_button_text);
    background-color: var(--pal_button_colour);
    font-size: 1em;
    padding: 5px;
    border-radius: 18px;
    border: 1px solid var(--pal_button_border);
    text-align: center;
    margin: auto;
    overflow: hidden;
    height: 15%;
    margin-left: 10px;
    margin-top: 10px;

}

.buttonCustom:hover {
    color: var(--pal_button_text_hover);
    background-color: var(--pal_button_colour_hover);
    font-size: 1em;
    padding: 5px;
    border-radius: 18px;
    border: 1px solid var(--pal_button_border_hover);
    text-align: center;
    margin: auto;
    overflow: hidden;
    height: 15%;
    margin-left: 10px;
    margin-top: 10px;
}

.buttonCustomTitle {
    color: var(--pal_button_text);
    background-color: var(--pal_button_colour);
    font-size: 1em;
    padding: 5px;
    border-radius: 18px;
    border: 1px solid var(--pal_button_border);
    margin-left: 10px;
}

.buttonCustomTitle:hover {
    color: var(--pal_button_text_hover);
    background-color: var(--pal_button_colour_hover);
    border: 1px solid var(--pal_button_border_hover);
}

i[id='calendarMarker'] {
    color: var(--pal_icon_arrows_colour);
}

i[id='iconFeature']{
    color:var(--pal_icon_feature_colour);
    font-size: 2em;
}

input[type='text']{
    color: var(--pal_button_text);
    background-color: var(--pal_button_colour);
    font-size: 1em;
    padding: 5px;
    border-radius: 18px;
    border: 1px solid var(--pal_button_border);
    text-align: left;
    margin: auto;
    overflow: hidden;
    height: 30px;
    width: 300px;
    margin-left: 10px;
    margin-top: 10px;
}

input[type='password']{
    color: var(--pal_button_text);
    background-color: var(--pal_button_colour);
    font-size: 1em;
    padding: 5px;
    border-radius: 18px;
    border: 1px solid var(--pal_button_border);
    text-align: left;
    margin: auto;
    overflow: hidden;
    height: 30px;
    width: 300px;
    margin-left: 10px;
    margin-top: 10px;
}